<!DOCTYPE html>
<html lang="en" layout:decorator="layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Tester Bro hello</title>
</head>
    <body>
        <section layout:fragment="content">
        <div>Uji Coba lah 444444</div>
        <div ng-app="">
            <p>My first expression: {{ 5 + 8 }}</p>
             <p th:text="${session.mySessionAttribute}" th:unless="${session == null}">[...]</p>
          </div>
        </section>
    </body>
</html>
