<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-tap-highlight" content="no"/>
   
   
    <title>Tester Bro default</title>
</head>
    <body>
        <section layout:fragment="content">
            <p>And this is content from content page.</p>
            <div>Uji Coba lah</div>
            <div ng-app="">
                <p>My first expression: {{ 5 + 5 }}</p>
                 <p th:text="${session.mySessionAttribute}" th:unless="${session == null}">[...]</p>
              </div>
        </section>
        
    </body>
</html>
